@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#root{
    padding: 0;
    margin: 0;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  font-size: revert !important;
  font-weight: revert !important;
}